:root{
  --brandblack1:#010101;
  --brandgrey1: #f9f9f9;
  --brandgrey2: #868686;
  --brandvoilet: #4F20D2;
  --brandblue: #006de1;
  --brandwhite1: #ffffff;
  --archivo : "Archivo", sans-serif;
}


*{
  margin: 0%;
  padding: 0%;
  font-family: var(--archivo);
}

body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  row-gap: 3rem;
  background-color: var(--brandgrey1);
}

.App{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brandgrey1);
  
}


/*User Login*/

/*Login*/
.form{
  width: 80vw;
  height: 100%;
  background-color: var(--brandwhite1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 2rem;
  background: var(--brandwhite1);
  column-gap: 2rem;
  margin: 2rem;
/* background: linear-gradient(185deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(251,251,251,1) 100%); */
}

/*Logo Newre*/
.newre-logo{
  width: 5rem;
  padding: 1rem;
}

/* Login Form*/
.form-cont{
  width: 75vw;
  height: 100%;
  /* background-color: var(--brandwhite1); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 2rem;
}

.form-title{
  width: 60vw;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--brandblack1);
  padding: 1rem;
  margin-bottom: 1rem;
}
/*form input*/
.form-input{
  margin-bottom: 1rem;
  width: 45vw;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--brandgrey2);
  border-radius: 32rem;
  border: 2px solid var(--brandwhite1);
  background-color: var(--brandgrey1);
  transition: 0.5s;
}

.form-input::placeholder{
  text-align: left;
}

.form-input:focus {
  width: 50vw;
  border: 2px solid var(--brandvoilet);
  color: var(--brandvoilet);
  outline: none;
  transition: 0.5s;
}

/*form flex*/

.form-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
}

/*form date*/
.form-date{
  margin-bottom: 1rem;
  width: 19vw;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--brandgrey2);
  border-radius: 32rem;
  border: 2px solid var(--brandwhite1);
  background-color: var(--brandgrey1);
  transition: 0.5s;
}


.form-date:focus{
  width: 24vw;
  border: 2px solid var(--brandvoilet);
  color: var(--brandvoilet);
  outline: none;
  transition: 0.5s;
}


/*form select*/

.form-select{
  margin-bottom: 1rem;
  width: 24vw;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--brandgrey2);
  border-radius: 32rem;
  border: 2px solid var(--brandwhite1);
  background-color: var(--brandgrey1);
  transition: 0.5s;
  appearance: none;
  cursor: pointer;
}

.form-select:focus {
  width: 29vw;
  border: 2px solid var(--brandvoilet);
  color: var(--brandvoilet);
  outline: none;
  transition: 0.5s;
}


.form-option{
  width: 24vw;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--brandvoilet);
  border-radius: 32rem;
  border: 2px solid var(--brandwhite1);
  background-color: var(--brandgrey1);
  transition: 0.5s;
}

.form-select-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--brandgrey2);
}


.form-select-wrapper::after {
  content: "▼";
  position: absolute;
  top: 40%;
  right: 10%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--brandgrey2);
  pointer-events: none;
}

/*form phoneno*/
.form-phoneno{
  margin-bottom: 1rem;
  width: 45vw;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--brandgrey2);
  border-radius: 32rem;
  border: 2px solid var(--brandwhite1);
  background-color: var(--brandgrey1);
  transition: 0.5s;
}

.form-phoneno::placeholder{
  text-align: left;
}

.form-phoneno:focus {
  width: 50vw;
  border: 2px solid var(--brandvoilet);
  color: var(--brandvoilet);
  outline: none;
  transition: 0.5s;
}



/*login btns cont*/
.form-btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}


/*Primary Button*/

.primary-btn{
  background-color: var(--brandvoilet);
  background: linear-gradient(185deg, rgba(130,190,255,1) 0%, rgba(0,109,225,1) 38%, rgba(54,57,215,1) 73%, rgba(79,32,210,1) 100%);
  transition: 0.5s;
  font-size: 1rem;
  font-weight: 500;
  color: var(--brandwhite1);
  border: transparent;
  padding: 1rem 2rem;
  border-radius: 4rem;
  margin-bottom: 1rem;
}

.primary-btn:hover{
  background: rgb(130,190,255);
  padding: 1rem 3rem;
  background: linear-gradient(185deg, rgba(130,190,255,1) 0%, rgba(0,109,225,1) 59%, rgba(54,57,215,1) 83%, rgba(54,57,215,1) 83%, rgba(79,32,210,1) 100%);
  transition: 0.5s;
}


/*Secondary Button*/

.sec-btn{
  background-color: var(--brandwhite1);
  transition: 0.5s;
  font-size: 1rem;
  font-weight: 500;
  color: var(--brandvoilet);
  border: 1px solid var(--brandvoilet);
  padding: 1rem 2rem;
  border-radius: 4rem;
  margin-bottom: 1rem;
}

.sec-btn:hover{
  background: var(--brandgrey1);
  padding: 1rem 3rem;
transition: 0.5s;
}


/*Jump to page*/

.jumptopage{
  text-decoration: none;
  color: var(--brandgrey2);
  transition: 0.5s;
  padding: 1rem;
}

.jumptopage:hover{
  color: var(--brandblue);
  transition: 0.5s;
}

footer{
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--brandwhite1);
}


/*Header*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:var(--brandwhite1); /* Or any color */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px; /* Add padding for spacing */
  z-index: 1000; /* Ensure it's above other elements */
}

/*Laanding Pag*/

.landing-page{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Profile Page*/
.page{
  width: 100%;
  margin: 5rem 0rem; 
}


/*Bottom Nav*/

.bottom-nav-cont{
  border: transparent !important;
  box-shadow: none !important;
  z-index: 1000 !important;
}

.bottom-nav-btn{
  background-color: var(--brandwhite1) !important;
  color: var(--brandgrey2) !important;
  font-family: var(--archivo) !important;
  font-weight: 500;
  transition: 0.5s;
}

.bottom-nav-btn.Mui-selected {
  color: var(--brandvoilet) !important; /* Highlight active tab */
  transition: 0.5s;

}